.container {
  border: 5px solid #ffcc5c;
  display: flex;
  /* flex-direction: row;  <- this is by default */
  /* flex-direction: column; */
  /* justify-content: space-around; */
  /* justify-content: flex-end; */
  /* justify-content: flex-end; */
  /* align-items: flex-end; */
  /* height: 100%; */
}

.home {
  /* margin-right: auto; */
  /* align-self: flex-end; */
  flex: 1;
  flex-grow: ;
  flex-shrink: ;
  flex-basis: ;
}

.logout {
  /* margin-left: auto; */
  /* align-self: flex-start; */
  flex: 1;
}

/* .container > div {
  flex: 1; short hand for: flex-grow, flex-shrink, flex-basis
} */

/* .container > .search {
  flex: 2;
} */
