.container {
  border: 5px solid #ffcc5c;
  display: flex;
  /* flex-direction: row;  <- this is by default */
  /* justify-content: space-around; */
  /* justify-content: flex-end; */
  height: 100%;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}

.logout {
  /* margin-left: auto; */
  /* align-self: flex-start; */
}

.home {
  /* margin-right: auto; */
  /* align-self: flex-end; */
}

/* .container > div {
  flex: 1; short hand for: flex-grow, flex-shrink, flex-basis
} */

/* .container > .search {
  flex: 2;
} */
