.container {
  border: 5px solid #ffcc5c;
  display: flex;
  /* flex-direction: row;  <- this is by default */
  /* justify-content: space-around; */
  /* justify-content: flex-end; */
  height: 100%;
  align-items: center;
}

/* .logout {
  margin-left: auto;
} */

/* .home {
  margin-right: auto;
} */

/* .container > div {
  flex: 1; short hand for: flex-grow, flex-shrink, flex-basis
} */

/* .container > .search {
  flex: 2;
} */

.logout {
  align-self: flex-start;
}

.home {
  align-self: flex-end;
}
